#wrapper    {
    min-width: 500px;
}

#navbar {
    height: 125px;
    width: 100%;
    background-color: rgb(0, 255, 226);
}

#navbar img {
    display: inline-block;
    float: left;
    margin-top: 17px;
    margin-left: 5%;
    height: 100px;
}

#navbar li   {
    display: inline-block;
    float: right;
    margin-right: 10%;
    margin-top: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 2px;
    font: black;
}

#navbar a:link {
    text-decoration: none;
    color: black;
}

#navbar a:visited {
    text-decoration: none;
    color: black;
}

#navbar a:hover {
    text-decoration: none;
    color: white;
}

#navbar a:active {
    text-decoration: none;
    color: white;
}

.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 250px;
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}