#navwrap    {
    width: 100%;
    height: 130px;
    display: block;
}

#headlogo {
    display: inline-block;
    margin-top: 2%;
    margin-left: 5%;
    width: 25%;
    max-width: 110px;
    margin-right: 75px;
}

#logo-header    {
    text-shadow: 1px 1px rgba(128, 128, 128, 0.13);
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    margin-top: 5%;
    font-size: 6vw;
    padding-top: 5%; padding-bottom: 5%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}

#underline  {
    background-color: rgba(0, 0, 0, 0.1);
    height: 3px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 20px;
    border-radius: 50px;
}

.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.og-grid-poly {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.og-grid li {
	display: inline-block;
	margin: 40px 50px 50px 50px;
	vertical-align: middle;
}

.og-grid-poly li {
	display: inline-block;
	margin: 40px 50px 50px 50px;
	vertical-align: middle;
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid-poly li > a,
.og-grid-poly li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

#hero   {
    width: 100%;
}

#hero-logo  {
    width: 40%;
    max-width: 400px;
    margin-left: auto; margin-right: auto; margin-top: 8%;
    display: block;
}

#hero-logo-final  {
    width: 60%;
    max-width: 400px;
    margin-left: auto; margin-right: auto; margin-top: 10%; margin-bottom: 10%;
    display: block;
}

#logos-main {
    height: 200px;
}

#logos  {
    height: 25vw;
}

#logos-wide {
    width: 250px;
}

#logo-body a    {
    text-decoration: none;
    font-weight: 400;
}

#logo-body  {
    width: 75%;
    text-align: center; 
    margin: 8% auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 4vw;
    line-height: 135%;
}

#logo-body-asterisk  {
    width: 75%;
    text-align: center; 
    margin: 8% auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 2vw;
    line-height: 125%;
    margin-top: -5%;
}

#sub-head   {
    text-shadow: 1px 1px rgba(128, 128, 128, 0.13);
    width: 75%;
    text-align: center; 
    margin: 8% auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 6vw;
    line-height: 125%;
}

#req-head   {
    font-weight: 400;
     width: 75%;
    text-align: center; 
    margin: 0 auto; margin-bottom: -5%;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 4vw;
    line-height: 125%;
}

#roughs {
    width: 75%;
    display: block;
    margin-left: auto; margin-right: auto;
}

#layout-roughs {
    margin-top: 10%;
    width: 75%;
    display: block;
    margin-left: auto; margin-right: auto;
}

#layout-roughs-disc {
    margin-top: 10%;
    width: 50%;
    display: block;
    margin-left: auto; margin-right: auto;
}

#social {
    float: left;
    margin-left: 15%;
    display: inline-block;
    width: 10%;
}

#social-facebook {
    float: left;
    margin-left: 14%;
    display: inline-block;
    width: 12%;
}

#socialbox   {
    display: inline-block;
    width: 100%;
    margin-top: 15%;
}

#social-body    {
    text-shadow: 1px 1px rgba(128, 128, 128, 0.13);
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 5vw;
    line-height: 135%;
    margin-top: 2%;
    margin-left: 10%;
    color: black;
}

#social-body-facebook    {
    text-shadow: 1px 1px rgba(128, 128, 128, 0.13);
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 5vw;
    line-height: 135%;
    margin-top: 2%;
    margin-left: 9%;
    color: black;
}
#social-body:hover {
    color: rgb(0, 255, 226);
}

#social-body-facebook:hover {
    color: rgb(0, 255, 226);

}

#social-email    {
    text-shadow: 1px 1px rgba(128, 128, 128, 0.13);
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 5vw;
    line-height: 135%;
    margin-top: .1%;
    margin-left: 10%;
    color: black;
}

#social-email:hover {
    color: rgb(0,255,226);   
}

#hero-blog  {
    width: 79%;
    display: block;
    margin-right: auto; margin-left: auto;
    margin-top: 10%;
}

#blog-header    {
    text-shadow: 1px 1px rgba(128, 128, 128, 0.13);
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 7vw;
    padding-top: 5%;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}

#blog-byline    {
    text-shadow: 1px 1px rgba(128, 128, 128, 0.13);
    margin-top: 2%;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2.5vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

#blog-byline a  {
    text-shadow: 1px 1px rgba(128, 128, 128, 0.13);
    font-size: 3.5vw;
    margin-left: .5%;
    text-decoration: none;
    color: black;
}

#blog-byline a:hover   {
    color: rgb(0,255,226);
}

#blog-body a    {
    text-decoration: none;
    font-weight: 400;
}

#blog-body i    {
    font-style: italic;   
}

#blog-body-image    {
    width: 40%;
    float: right;
    margin-right: 12%;
    margin-left: 2%;
}

#blog-body  {
    width: 75%;
    text-align: justify;
    text-indent: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 3.5vw;
    line-height: 135%;
    margin-left: auto; margin-right: auto;
    margin-bottom: 5%; margin-top: 5%;
}

#blog-body-signoff  {
    text-align: center;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 3.5vw;
    line-height: 135%;
    margin-right: auto; margin-left: auto;
    margin-bottom: 8%; margin-top: 10%;
}

#blog-body-signoff a  {
    font-weight: 400;
}

#blog-body-first  {
    width: 75%;
    text-align: justify;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 3.5vw;
    line-height: 135%;
    margin-left: auto; margin-right: auto;
    margin-bottom: 5%; margin-top: 5%;
}

#blog-body-first a  {
    text-decoration: none;
    font-weight: 400;
}

#blog-body-first:first-letter {
    font-size: 260%;
    float: left;
    line-height: 1;
    display: block;
    margin-right: .75%;
    margin-bottom: -2px;
}

#blg-bdy-img-cap    {
    background-color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
    float: right;
    width: 40%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 12%;
    margin-left: 2%;
    font-size: 2.5vw;
    font-weight: 300;
    font-style: italic;
    color: white;
    text-align: center;
}

#blog-img-cap {
    font-family: 'Oswald', sans-serif;
    background-color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
    width: 75%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: auto;
    margin-left: auto;
    font-size: 2.5vw;
    font-weight: 300;
    font-style: italic;
    color: white;
    text-align: center;
}

#blog-img-cap a {
    font-gamily: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 2.5vw;
}

#blog-full-image    {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#overline-blog {
    background-color: black;
    height: 3px;
    margin-right: 15%;
    margin-left: 15%;
    border-radius: 50px;
}

#underline-blog {
    background-color: black;
    height: 3px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 50px;
}

#blog-final-img {
    width: 100%;
    margin-top: -5%;
    margin-bottom: -10%;
}

.blog-social-grid {
    margin-top: 10%;
	list-style: none;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
	width: 100%;
}

.blog-social-grid li {
    width: 12%;
	display: inline-block;
    margin-left: 8%;
    margin-right: 8%;
	vertical-align: middle;
}

.blog-social-grid a,
.blog-social-grid a img {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
	border: none;
	outline: none;
	display: inline-block;
	position: relative;
}

#blog-social-fb {
    width: 110%;
}