/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse ul {
    display: inline;
    text-decoration: none;
}

.nav-collapse li {
    text-shadow: 1px 1px rgba(128, 128, 128, 0.13);
    margin-top: 60px;
    margin-bottom: 20px;
    float: right;
    width: auto;
    display: inline;
    margin-right: 12%;
    letter-spacing: 4px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 2.25vmax;
    font: black;
}

.nav-collapse a:link {
    text-decoration: none;
    color: black;
}

.nav-collapse a:visited {
    text-decoration: none;
    color: black;
}

.nav-collapse a:hover {
    text-decoration: none;
    color: rgb(0, 255, 226);
}

.nav-collapse a:active {
    text-decoration: none;
    color: white;
}


.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: inline;
  overflow: hidden;
    zoom: 1;
    text-decoration: none;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
    display: inline-block;
    margin-top: 10%;
    float: right;
    margin-right: 25%;
    width: 15%;
    height: 25%;
    background-color: black;
    border-radius: 50px;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
